html, body {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  background: #292a33;
}
.ui-container {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 1;
  color: #f0f0f0;
}
#reset-button {
  padding: 5px
}
